#include "qtjsonserializer_global.h"
#include "qjsonserializer.h"

#include <QtCore/QtCore>

#define QT_JSON_SERIALIZER_NAMED(T) #T

namespace {

void register_%{typeindex}_converters() {
	bool ok = QJsonSerializer::%{convertMethod}<%{type}>();
	Q_ASSERT_X(ok, Q_FUNC_INFO, "Failed to register %{convertOp} converters for type " QT_JSON_SERIALIZER_NAMED(%{type}));
}

}
Q_COREAPP_STARTUP_FUNCTION(register_%{typeindex}_converters)
